@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add custom styles below */
body {
  font-family: 'Winky Sans';
  background-color: #fffaf0; /* optional light cartoonish background */
}


@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}